name: Genera PDF

on:
  push:
    branches: [ main ]
    paths:
      - 'slide/*.*'
      - '.github/workflows/generatepdf.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

    - name: generate pdf
      run: | 
        cd slide
        cp CorsoHTML.md CorsoHTML-backup.md
        sed -i "s/%date%/$(date +'%Y-%m-%d')/g" CorsoHTML.md
        sed -i "s/%time%/$(date +'%H:%M')/g" CorsoHTML.md
        npx @marp-team/marp-cli@latest CorsoHTML.md --pdf --allow-local-files --pdf-outlines
        rm CorsoHTML.md
        mv CorsoHTML-backup.md CorsoHTML.md
     
    - name: commit & push
      run: |
        git add -A
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -m "update slides"
        git push
